
# Django
SECRET_KEY=cambia-esto-por-una-clave-secreta-larga
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos PostgreSQL
DB_NAME=helpdesk
DB_USER=postgres
DB_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
